.top-nav{
    background-color: #AFEEEE;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px blue;
}
[aria-current=page]{
    background-color: #bbb;
    color:#000;
    border-bottom: .25em solid;
}
main {
    margin-top: 100px;
    margin-left: 2em;
}
.top-nav li{
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    margin: 5px;
}
.top-nav li:hover{
    text-decoration: underline;
}
.top-nav ul{
    list-style: none;
    
}
.top-nav .pulldown-menu{
display: none;
position: absolute;
border:1px solid white;
background-color: white;
z-index: 1;
}
.top-nav li:hover .pulldown-menu{
    display: inline-block;
    height: 3cm;
    width: 2cm;
    border:1px solid blue;
}
.header {
    font-size: 25px;
    font-family: fantasy;
}
.description {
    font-size: 16px;
    font-family: monospace;
    font-weight: normal;
}
.images {
    display:flex;
	flex-direction: row;
    width : 250px;
	height: 250px;
}
.images_2 {
    display:flex;
	flex-direction: row;
    width : 250px;
	height: 250px;
}
.pic {
    padding: 20px;
    padding-right: 5px;
}
.title {
    font-size: 30px;
    font-family: fantasy;
}